.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
*.obj
*.o
*.a
*.lib
*.exe
*.dll
*.so
*.dylib
*.ncb
*.sdf
*.suo
*.pdb
*.idb
*.log
*.tmp
*.bak
*~
.DS_Store
Thumbs.db

# Python (scripts)
__pycache__/
*.pyc
*.pyo
.pytest_cache/
